---
import MainLayout from '@/layouts/MainLayout.astro';
---

<MainLayout
  title="404 | John Galindez"
  description="Sorry, the page you are looking for does not exist. Explore my portfolio, projects, and blog for more about my work as a software engineer."
>
  <section class="flex min-h-screen flex-col items-center justify-center">
    <h1 class="mb-4 text-6xl font-bold">404</h1>
    <p class="mb-8 text-xl">
      Page not found. Let’s get you back <a href="/" class="text-primary underline">home</a>.
    </p>
  </section>
</MainLayout>
