---
import MainLayout from '@/layouts/MainLayout.astro';
import { Separator } from '@/components/ui/separator';
import ExperienceTimeline from '@/ui/islands/ExperienceTimeline.astro';

import { getCollection } from 'astro:content';

const jobs = await getCollection('jobs');
const sortedJobs = jobs.sort((a, b) => b.data.order - a.data.order);
---

<MainLayout
  title="Experience | John Galindez"
  description="Senior Frontend Developer with 8 years of experience in design, architecture, web and mobile application development. Specialising in JavaScript, React, Vue, TDD and clean/hexagonal architectures."
>
  <section class="relative flex flex-col items-center justify-center pt-24 md:pt-36 md:pb-12">
    <div class="container mx-auto max-w-6xl px-4">
      <h1 class="flex text-4xl font-bold md:text-5xl lg:text-6xl">
        <img src="/icons/pre-title.svg" alt="Pre-title" class="mr-2 h-8 w-8" />
        The <span class="text-primary ml-2">Experience</span>
      </h1>
      <Separator class="my-4 max-w-sm" />
      <p class="text-muted-foreground max-w-5xl text-sm md:text-base">
        Senior Frontend Developer with 8 years of experience in design, architecture, web and mobile
        application development. Specialising in JavaScript, React, Vue, TDD and clean/hexagonal
        architectures.
      </p>
      <ExperienceTimeline jobs={sortedJobs} />
    </div>
  </section>
</MainLayout>
