---
import { Image } from 'astro:assets';
import ProfilePic from '@/assets/profile-pic.jpeg';
import TShaped from '@/ui/islands/HomeTShaped.astro';
---

<section id="about" class="dark:bg-background relative py-16 md:py-18">
  <div class="container mx-auto max-w-5xl px-4">
    <div class="flex flex-col items-center gap-12 lg:flex-row">
      <div class="flex-1">
        <h2 class="mb-6 flex items-center text-3xl font-bold md:text-5xl">
          <img src="/icons/pre-title.svg" alt="Pre-title" class="mr-2 h-8 w-8" />
          A brief of <span class="text-primary ml-2">who I am</span>
        </h2>

        <div class="space-y-4">
          <p class="text-base-foreground">
            My interest in software development was born from a mix between curiosity and desire to
            build useful things.
          </p>

          <p class="text-base-foreground text-base/6">
            I like to think about architecture, about users, about how all the pieces fit together.
            It's not just about making it work, it's about making sense to whoever uses it... and
            whoever maintains it afterwards.
          </p>

          <p class="text-base-foreground text-base/6">
            Outside of the keyboard, my curiosity is still active: I explore surfing, country music,
            and how creative disciplines influence the way we solve problems.
          </p>
        </div>
      </div>

      <div class="flex flex-1 justify-center">
        <Image
          src={ProfilePic}
          alt="John Galindez"
          class="border-secondary h-[400px] max-h-[500px] w-full rounded border-2 shadow-lg grayscale-10 filter transition-all duration-600 md:h-full md:max-w-[400px]"
        />
      </div>
    </div>
  </div>
  <div class="container mx-auto max-w-5xl px-4">
    <div class="flex flex-col-reverse items-center gap-6 md:flex-col lg:flex-row">
      <div class="w-[350px] basis-full md:basis-xl">
        <TShaped transition:persist />
      </div>

      <div class="mt-8 flex flex-1 flex-col gap-6 md:mt-0">
        <h3 class="text-4xl font-bold">
          <span class="border-primary border-b-2">T-Shaped</span> Generalist Developer
        </h3>
        <p class="text-base-foreground">
          My skillset goes both deep and wide. I dive deep into frontend engineering—building
          thoughtful, accessible, and performant interfaces—but I also understand backend systems,
          design, and product thinking.
        </p>
        <p class="text-base-foreground">
          This gives me a strategic view and helps me collaborate effectively across disciplines.
        </p>
      </div>
    </div>
  </div>
</section>
