---
import { Badge } from '@/components/ui/badge';
import { Button } from '@/components/ui/button';
import ProjectCard from '@/ui/modules/ProjectCard.astro';
import ProjectDialog from '@/ui/ProjectDialog.vue';
import type { Project } from '@/types/project';

interface Props {
  projects: Project[];
}

const { projects } = Astro.props as Props;
---

<section id="projects" class="relative py-16">
  <div class="from-primary/0 to-primary/20 absolute inset-0 -z-10 bg-gradient-to-b"></div>
  <div class="container mx-auto max-w-6xl px-4">
    <div class="mb-12 text-center">
      <h2 class="mb-4 text-5xl font-bold">Things I've built</h2>
      <p class="text-muted-foreground mx-auto max-w-2xl text-base md:text-lg">
        A selection of projects where the code is just the tip of the iceberg.
      </p>
    </div>

    <div class="grid grid-cols-1 gap-6 md:grid-cols-3" id="projects-grid">
      {projects.map((project) => <ProjectCard project={project} />)}
    </div>

    <div class="mt-12 flex justify-center">
      <a href="/projects">
        <Button variant="secondary" class="rounded-full font-bold">View all projects</Button>
      </a>
    </div>
  </div>

  <ProjectDialog client:load />
</section>

<script>
  import { selectedProject, openProjectDialog } from '@/stores/projects';
  import { ProjectService } from '@/services/projects';

  document.addEventListener('selectProject', async (e: CustomEvent<{ slug: string }>) => {
    const { slug } = e.detail;
    if (!slug) return;

    try {
      const project = await ProjectService.getProject(slug);
      console.log(project);
      selectedProject.set(project);
      openProjectDialog.set(true);
    } catch (error) {
      console.error('Error in project selection:', error);
    }
  });
</script>
