---
import { NAV_LINKS } from '@/config/constants';
---

<footer class="bg-white/90 shadow-sm backdrop-blur dark:bg-gray-900">
  <div class="mx-auto w-full max-w-6xl p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a
        href="/"
        class="font-caladea text-2xl font-bold tracking-tight transition-opacity hover:opacity-80"
      >
        johndez.net
      </a>
      <ul
        class="my-6 flex flex-wrap items-center text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400"
      >
        {
          NAV_LINKS.map((link) => (
            <li>
              <a href={link.url} class="me-4 hover:underline md:me-6">
                {link.text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <hr class="border-primary-400 my-6 sm:mx-auto lg:my-8 dark:border-gray-700" />
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2025. <a href="/" class="hover:underline">All Rights Reserved.</a>
    </span>
  </div>
</footer>
